<div class="vertical-form-container">
  <div class="vertical-form">

    <div class="step active text-center">
      <div class="title">Mar°C</div>
      <br>
      <div class="content">
        <h2>Your most accurate weather forecast in one place</h2>
        <p>Manage your personal preference for each temperature range</p>
        <br>
        <div class="button">
          <%= link_to "Get started", new_user_registration_path, class: "btn btn-light" %>
          <br>
          <br>
          <%= link_to "Login", new_user_session_path %>
       </div>
      </div>
    </div>

    <div class="step step-2 next">
      <div class="title">Create your Profile</div>
      <div class="content">
        <p>You can make changes in settings</p>
        <div class="col-sm d-flex">
          <div class="row">
            <%= image_tag("woman.svg", :alt => "woman", class: "avatar-img") %>
          </div>
          <div class="row">
            <%= image_tag("man.svg", :alt => "man", class: "avatar-img") %>
          </div>
        </div>
      </div>
    </div>

    <div class="step step-3 next text-center">
      <div class="title">Allow location access</div>
      <br>
        <div class="content text-center">
          <%= image_tag("location.svg", :alt => "location") %>
          <br>
          <br>
          <p>Allow Mar℃ to use your current location to deliver notifications for your personalized weather forcast.</p>
        </div>
    </div>

    <div class="step step-4 next text-center">
      <div class="title">Set the notification time</div>
    </div>

    <div class="step step-5 text-center">
      <div class="title">Temperatur</div>
      <p>Set your personal preference for each temperature range</p>
      <div class="temperature-set">
      </div>
    </div>

    <i class="material-icons">Continue</i>
    </div>
  </div>
</div>
