<div class="container-wardrobe">
  <div class="container text-center">
    <h1><%= "My Wardrobe Items:"  %></h1>
    <br>

<% @items.each do |item| %>
  <div>
    <p>Name: <%= item.item_name %></p>
    <p>Category: <%= item.wardrobe_template.category %></p>
    <p>Image</p>
    <p>Lowest temperature: <%= item.lowest_temperature %></p>
    <p>Highest temperature: <%= item.highest_temperature %></p>
  </div>
<% end %>

</div>

</div>
