<div class="container-wardrobe">
  <a class="ml-4" href="/dashboards"><i class="fas fa-chevron-left"></i></a>
  <br>
  <br>
  <div class="container text-center">
    <h1><%= "My Wardrobe Items:"  %></h1>
    <br>

<% @items.each do |item| %>

<div class="card" style="width: 18rem;">
  <%= item.render_string.html_safe %>
  <div class="card-body">
    <p class="card-title">Name: <%= item.wardrobe_template.category %></p>
    <p class="card-text">Lowest temperature:<%= item.lowest_temperature %></p>
    <p class="card-text">Highest temperature: <%= item.highest_temperature %></p>
  </div>
</div>
<% end %>

</div>
<br>
    <strong><p class="ml-5"> Add a new Wardrobe Item <a class="pl-2" href="/wardrobe/new"><i class="fas fa-plus"></i></a> </p></strong>
</div>
