<script>
/// document.removeEventListener("touchstart", startTouch, false);
// document.removeEventListener("touchmove", moveTouch,false);

</script>

<div id="bg-img">
  <br>
    <div id="wrapper" class="text-center p-3">
        <!-- Location and Date -->
        <h3> Hourly Forecast </h3>
        <div class="swiper-container">
            <div class="swiper-wrapper d-flex">
                <%@forecast_hourly.each do |forecast|%>
                <div class="swiper-slide">
                    <div id="time-overview">
                         <!-- refactor time in to the d controller after were done -->
                        <p class="time"><%= Time.at(forecast['dt']).strftime('%l%p') %></p>
                        <p class="temperature"><%= (forecast['temp']).to_i  %>°C</p>
                        <img class="icon" src='https://openweathermap.org/img/w/<%=forecast['weather'][0]['icon']%>.png'>

                    </div>
                </div>
                <%end%>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>

    <hr>
    <!-- Other weather data -->
    <div id="parameters">
        <h2 class="text-center"> Todays Weather </h2>
        <p class="feels_like">it feels like <%= (@forecast_hourly[0]['feels_like']).to_i %>°C</p>
        <ul>
            <li>Sunrise</li>
            <li>Sunset</li>
            <li>Visibility</li>
            <li>Wind</li>
            <li>Humidity</li>
            <li>Cloud</li>
            <li>Pressure</li>
        </ul>

        <!-- Icons -->
        <ul class="text-center">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <!-- API Current Data -->
        <ul class="text-center">
            <li class="sunrise"><%= Time.at(@forecast_daily[0]['sunrise']).strftime('%l:%M %p')%></li>
            <li class="sunset"><%= Time.at(@forecast_daily[0]['sunset']).strftime('%l:%M %p') %></li>
            <li class="visibility"><%= @forecast_hourly[0]['feels_like'] %></li>
            <li class="wind_speed"><%= @forecast_hourly[0]['wind_speed'] %></li>
            <li class="humidity"><%= @forecast_hourly[0]['humidity'] %></li>
            <li class="clouds"><%= @forecast_hourly[0]['clouds'] %></li>
            <li class="pressure"><%= @forecast_hourly[0]['pressure'] %></li>
        </ul>

    </div>
</div>

  <div class="icon-bar pb-2">
    <a href="/preferences"><i class="fas fa-sliders-h right"></i></a>
    <a class="active" href="/dashboards"><i class="fas fa-angle-up"></i></a>
  </div>
</div>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 3,
        centeredSlides: true,
        spaceBetween: 30,
        grabCursor: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    });
</script>
