<!-- <script>
/// document.removeEventListener("touchstart", startTouch, false);
// document.removeEventListener("touchmove", moveTouch,false);

</script> -->

<div id="bg-img">
  <br>
  <a class="left" href="/dashboards"><i class="fas fa-chevron-left"></i></a>
  <a class="right" href="/daily"><i class="fas fa-chevron-right"></i></a>
    <div id="wrapper">
      <br>
        <!-- Location and Date -->
        <h3 class="text-center"> Hourly Forecast </h3>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <%@forecast_hourly[0..12].each do |forecast|%>
                <div class="swiper-slide">
                    <div id="time-overview">
                         <!-- refactor time in to the d controller after were done -->
                        <p class="time"><%= Time.at(forecast['dt']).strftime('%l%p') %></p>
                        <p class="temperature"><%= (forecast['temp']).to_i  %>°C</p>
                        <img class="icon" src='https://openweathermap.org/img/w/<%=forecast['weather'][0]['icon']%>.png'>
                    </div>
                </div>
                <%end%>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>

    <hr>
    <!-- Other weather data -->
    <div id="parameters">
        <h3 class="text-center"> Todays Weather </h3>
        <p class="feels_like">it feels like <%= (@forecast_hourly[0]['feels_like']).to_i %>°C</p>
        <ul>
            <strong><li>Sunrise</li></strong>
            <strong><li>Sunset</li></strong>
            <strong><li>Visibility</li></strong>
            <strong><li>Wind</li></strong>
           <strong><li>Humidity</li></strong>
            <strong><li>Cloud</li></strong>
            <strong><li>Pressure</li></strong>
        </ul>

        <!-- Icons -->
<!--         <ul class="text-center">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul> -->
        <!-- API Current Data -->
        <ul class="text-center">
            <li class="sunrise"><%= Time.at(@forecast_daily[0]['sunrise']).strftime('%l:%M %p')%></li>
            <li class="sunset"><%= Time.at(@forecast_daily[0]['sunset']).strftime('%l:%M %p') %></li>
            <li class="visibility"><%= @forecast_hourly[0]['feels_like'] %></li>
            <li class="wind_speed"><%= @forecast_hourly[0]['wind_speed'] %></li>
            <li class="humidity"><%= @forecast_hourly[0]['humidity'] %></li>
            <li class="clouds"><%= @forecast_hourly[0]['clouds'] %></li>
            <li class="pressure"><%= @forecast_hourly[0]['pressure'] %></li>
        </ul>

    </div>
</div>
  <div class="icon-bar text-center">
    <a href="/wardrobe"><i class="fas fa-tshirt"></i><p>Wardrobe</p></a>
    <a href="/trips/new"> <i class="far fa-paper-plane"></i><p>Travel Plan</p></a>
    <a href="/preferences"><i class="fas fa-user"></i><p>Account</p></a>
  </div>
</div>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 3,
        centeredSlides: true,
        spaceBetween: 30,
        grabCursor: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    });
</script>
