<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://hammerjs.github.io/dist/hammer.js"></script>


<div class = "rain_background">
<i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i><i class="rain"></i>
</div>
<div id="dashboard" class = "swiper-box text-center">
  <br>
  <a class="right" href="/forecast"><i class="fas fa-chevron-right"></i></a>
  <div id="sun">
<%= image_tag  "sun.svg" %>
</div>
 <div id="moon">
<%= image_tag  "moon.svg" %>
</div>
<div id="clouds">
	<div class="cloud x1"></div>
	<!-- Time for multiple clouds to dance around -->
	<div class="cloud x2"></div>
	<div class="cloud x3"></div>
	<div class="cloud x4"></div>
	<div class="cloud x5"></div>
</div>

<div id="clouds_2">
	<div class="cloud x1"></div>
	<!-- Time for multiple clouds to dance around -->
	<div class="cloud x2"></div>
	<div class="cloud x3"></div>
	<div class="cloud x4"></div>
	<div class="cloud x5"></div>
</div>

  <div class="date-description">

    <br>
    <h7 class="city"><%=@user_preferences.address%></h7><br>
    <h7 class="date"></h7><br>
    <h7 class="time"></h7>
  </div>
  <br>
  <div class="float-left condition_temp">
    <h10 class="condition"></h10>
    <p class="temp"></p>
  </div>
<br>

<div id = "avatar_composite">
<div class = "bottom" id="Wardrobe_bottom"></div>
<div class = "head"><div id="avatar_head"></div></div>
<div class = "top"><div id="Wardrobe_top"></div></div>
</div>

<%# if @user_preferences.avatar == "female"%>
<%#= image_tag "standing-female", :class => "avatar_image" %>
<%# else %>
<%#= image_tag "standing-male", :class => "avatar_image" %>
<%# end%>
<div class="greeting">
  Hi, <%= @current_user.user_preference.name %>.
  <div class = "greeting_message"></div>
</div>

</div>
  <div class="icon-bar text-center">
    <a href="/temperatures/new"><i class="fas fa-temperature-low"></i></a>
    <a href="/wardrobe"><i class="fas fa-tshirt"></i></a>
    <a href="/trips/new"> <i class="far fa-paper-plane"></i></a>
    <a href="/preferences"><i class="fas fa-user"></i></a>
  </div>
</div>
</div>
<div id="modal-background"></div>
<div id="modal-content">
<p> Looks like its going to rain soon, better take your umbrella </p>
</div>


<script type="text/javascript">
<%= render 'dashboard.js' %>
</script>
