<div id="dashboard" class = "swiper-box text-center p-3">
<p class="city"><%=@user_preferences.address%></p>
<p class="date"></p> 
<p class="month"></p>
<p class="condition"></p>
<br>
<%= image_tag  "cloud2.png",:class => "weather_image cloud" %>
<%= image_tag "raincloud.png", :class => "weather_image raincloud" %>
<% if @user_preferences.avatar == "female"%>
<%= image_tag "standing-female", :class => "avatar_image" %>
<% else %>
<%= image_tag "standing-male", :class => "avatar_image" %>
<% end%>

</div>

  <div class="icon-bar pb-3">
    <a href="/preferences"><i class="fas fa-sliders-h right"></i></a>
    <a href="/forecast"><i class="fas fa-chevron-down"></i></a>
  </div>

<script type="text/javascript">
<%= render 'dashboard.js' %>
</script>