<style>
.weather_image{
    width: 60%;
    justify-content: center;
    opacity: 0.7;
}
.cloud{
    transition-duration: 1s;
    animation: cloud 5s infinite;
    animation-direction: alternate-reverse;
      position: absolute;
}

.raincloud{
    transition-duration: 1s;
    animation: cloud 5s infinite;
    animation-direction: alternate-reverse;
      position: absolute;
}

@keyframes cloud {
  0%   {right: 0%;}
  100% {right: 30%;}
}

.swiper-box{
    height: 100%;
    background-size: cover;
    transition-duration: 2s;
}

.condition{
    font-size: xx-large;
    color: white;
    }
.city{
    color: white;
    font-size: x-large

}
.date{
    color: white;
    font-size: x-large
}

.avatar_image{
    width: 60%;
    position: absolute;
    top: 50%;
    right: 20%;
}
</style>
<div id="dashboard" class = "swiper-box text-center p-3">
<p class="city"><%=@user_preferences.address%></p>
<p class="date"></p> 
<p class="month"></p>

<p class="condition"></p>
<br>
<%= image_tag  "cloud2.png",:class => "weather_image cloud" %>
<%= image_tag "raincloud.png", :class => "weather_image raincloud" %>
<% if @user_preferences.avatar == "female"%>
<%= image_tag "standing-female", :class => "avatar_image" %>
<% else %>
<%= image_tag "standing-male", :class => "avatar_image" %>
<% end%>

</div>

  <div class="icon-bar pb-3">
    <a href="/preferences"><i class="fas fa-sliders-h right"></i></a>
    <a href="/forecast"><i class="fas fa-chevron-down"></i></a>
  </div>

<script>
var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
var months = ['January','February','March','April','May','June','July','August','September','October','November','December'];

var index = 0
var forecast = <%= JSON.generate(@forecast_hourly).html_safe%>
console.log(forecast[index])
update()
update_background()

function update(){
    console.log("UPDATING THE VIEW");
    document.querySelector('.condition').innerText = `${Math.round(forecast[index].temp)}°C with ${forecast[index].weather[0].description}`;
    document.querySelector('.date').innerText = days[new Date(forecast[index].dt*1000).getDay()] + " the " + new Date(forecast[index].dt*1000).getDate() + " of " + months[new Date(forecast[index].dt*1000).getMonth()] + " at " + new Date(forecast[index].dt*1000).getHours() + ":00";
    update_clouds()
    update_clouds();
    update_background()
}
function update_clouds(){
 if (forecast[index].weather[0].main == "Clouds") {
    document.querySelector('.cloud').style.display = "flex"
 } else {
    document.querySelector('.cloud').style.display = "none"
 }
 if (forecast[index].weather[0].main == "Rain") {
    document.querySelector('.raincloud').style.display = "flex"
 } else {
       document.querySelector('.raincloud').style.display = "none"

 }
}
forecast_element = document.querySelector('#dashboard')
forecast_element.addEventListener("touchstart", startTouch, false);
forecast_element.addEventListener("touchmove", moveTouch, false);

// Swipe Up / Down / Left / Right
var initialX = null;
var initialY = null;

function startTouch(e) {
  initialX = e.touches[0].clientX;
  initialY = e.touches[0].clientY;
};

function moveTouch(e) {
  if (initialX === null) {
    return;
  }

  if (initialY === null) {
    return;
  }

  var currentX = e.touches[0].clientX;
  var currentY = e.touches[0].clientY;

  var diffX = initialX - currentX;
  var diffY = initialY - currentY;

  if (Math.abs(diffX) > Math.abs(diffY)) {
    // sliding horizontally
    if (diffX > 0) {
      // swiped left
      console.log("swiped left");
          if (index + 1 < forecast.length) {
            index = index + 1
            console.log(index);
    console.log(forecast[index])
    update()
    }} else {
      // swiped right
      console.log("swiped right");
          if (index > 1) {
            index = index - 1
    console.log(forecast[index])
    update()
    }}}

  initialX = null;
  initialY = null;

  e.preventDefault();
};




function update_background() {
   var hour =  new Date(forecast[index].dt*1000).getHours()
   console.log(hour);
switch (true) {
  case hour > 23 || hour < 5 :
    document.querySelector('.swiper-box').style.backgroundImage = 'url("<%= asset_path('night.svg') %>")'; 
       break;
  case hour >= 5 && hour <= 11:
    document.querySelector('.swiper-box').style.backgroundImage = 'url("<%= asset_path('day.svg') %>")'; 
        break;
  case hour > 11 && hour <= 17:
    document.querySelector('.swiper-box').style.backgroundImage = 'url("<%= asset_path('afternoon.svg') %>")'; 
    break;
  case hour > 18 && hour <= 23:
    document.querySelector('.swiper-box').style.backgroundImage = 'url("<%= asset_path('evening.svg') %>")'; 

}
}
</script>
