<div class="container-edit">
  <a class="ml-3" href="/dashboards"><i class="fas fa-chevron-left"></i></a>
  <div class="container">
    <br>
    <h3 class="text-center">Edit your profile</h3>
    <br>
    <%= simple_form_for @user_preference do |f| %>
      <%= f.input :name, label: "Name"%>
      <%= f.input :address, label: "Your location"%>
      <%= f.input :hairstyle, label: "Choose your Hairstyle", collection: @avatar_templates %>
      <%= f.input :skin_tone , collection: [['#ecbcb4', 'Light'], ['#a1665e', 'Medium'], ['#503335', 'Dark']], label_method: :second, value_method: :first %>
      <br>
      <%= f.button :submit, "Save", class: "btn btn-danger mx-auto d-block mb-2"%>
     <%end%>
  </div>
</div>

