<div class="container-edit">
<a class="ml-3" href="/dashboards"><i class="fas fa-chevron-left"></i></a>
  <div class="container">
    <h3 class="text-center">Edit your profile</h3>
    <br>
    <%= simple_form_for @user_preference do |f| %>
    <%= f.input :name, label: "Name"%>
    <%= f.input :address, label: "Your location"%>
    <%= f.input :avatar, label: "Choose your avatar", as: :radio_buttons, collection: [['female', 'female'], ['male', 'male']], label_method: :second, value_method: :first %>

    <br>
    <h3 class="text-center">Temperature</h3>
    <h5 class="text-center">Set your personal preference for each temperature range</h5>
    <br>
      <%= f.input :temp_br1, label: "Freezing"%>
      <%= f.input :temp_br2, label: "Cold:"%>
      <%= f.input :temp_br3, label: "Warm:"%>
      <%= f.input :temp_br4, label: "Very hot"%>
      <br>
      <%= f.button :submit, "Save", class: "btn btn-warning mx-auto d-block mb-2"%>
      <br>
    <%end%>
  </div>
</div>


