<!DOCTYPE html>
<html>
  <head>
    <title>Mar°C: Personalized weather app </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <!-- <p class="d-flex justify-content-center pt-4">This is a mobile app</p> -->
    <div id="page-container" class="d-flex justify-content-center pt-4">
      <section>
        <%= render 'shared/flashes' %>
        <%= yield %>
    </section>
  </div>
  </body>
</html>

